#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";

        // inner left thumb (lt 1 tab, pos 38) + right hand
        combo_sft_j {
            timeout-ms = <50>;
            key-positions = <38 19>;
            bindings = <&kp LSHFT>;
        };
        combo_ctl_k {
            timeout-ms = <50>;
            key-positions = <38 20>;
            bindings = <&kp LCTRL>;
        };
        combo_alt_l {
            timeout-ms = <50>;
            key-positions = <38 21>;
            bindings = <&kp LALT>;
        };

        // inner right thumb (space, pos 39) + left hand
        combo_sft_f {
            timeout-ms = <50>;
            key-positions = <39 16>;
            bindings = <&kp RSHFT>;
        };
        combo_ctl_d {
            timeout-ms = <50>;
            key-positions = <39 15>;
            bindings = <&kp RCTRL>;
        };
        combo_alt_s {
            timeout-ms = <50>;
            key-positions = <39 14>;
            bindings = <&kp RALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
           &none &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &none
           &none &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &none
           &none &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &none
                        &none &none &lt 1 TAB     &kp SPACE &none &kp RET
            >;
        };

        blank_layer {
            display-name = "Blank";
            bindings = <
            &none &none &none &none &none &none    &none &none &none &none &none &none
            &none &kp LGUI &kp LALT &kp LCTRL &kp LSHFT &none    &none &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &none
            &none &none &none &none &none &none    &none &none &none &none &none &none
                              &none &none &none    &kp BSPC &none &none
            >;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
